.main {
  max-width: 536px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0 2rem 2rem 2rem;
  align-items: center;
  /* justify-content: center; */
  background-color: var(--gray-00);
}
.loginWrapper {
  width: 100%;
  background: var(--gray-400);
  border-radius: 10px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.logo {
  margin: 0 auto;
  width: 200px;
}

.loginWrapper form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.inputWrapper {
  border-bottom: 1px var(--gray-300) solid;
  display: flex;
  align-items: center;
  gap: 8px;
}
.inputWrapper:focus-within {
  border-bottom: var(--purple-dark) solid 1px;
  transition: color 0.9s ease;
}
.inputLogin {
  color: var(--gray-100);
  background: transparent;
  border: none;
  padding: 8px 0;
  display: flex;
  flex-grow: 1;
}
.inputLogin:focus {
  outline: none;
}
.inputLogin:focus::placeholder {
  color: var(--gray-200);
}
.inputLogin:focus + .userIcon {
  color: var(--purple);
  transition: color 0.3s ease;
}

.userIcon {
  color: var(--gray-300);
  width: 20px;
  height: 20px;
}
.loginWrapper button {
  padding: 8px;
  border-radius: 20px;
  background-color: var(--purple);
  border: none;
  color: var(--gray-400);
  cursor: pointer;
  transition: color 0.1s ease;
}
.loginWrapper button:hover {
  color: var(--gray-100);
  background-color: var(--purple-dark);
}
